<h2>Options</h2>
<hr />
<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item"
  >
    <i class="fas fa-utensils"> Food List</i>
  </li>
  <li routerLink="today" routerLinkActive="active" class="list-group-item">
    <i class="far fa-calendar-check"> Today</i>
  </li>
  <li routerLink="chart" routerLinkActive="active" class="list-group-item">
    <i class="fas fa-chart-bar"> Chart</i>
  </li>
</ul>
