<h2>Food List</h2>
<hr />

<div *ngIf="data.length > 0" class="row">
  <div class="col">
    <table class="table table-hover">
      <thead>
        <tr>
          <th class="text-center">#</th>
          <th class="text-center">Name</th>
          <th class="text-center">Fat</th>
          <th class="text-center">Carbohydrate</th>
          <th class="text-center">Protein</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let food of data; let i = index">
          <td class="text-center">{{ i + 1 }}</td>
          <td class="text-center">{{ food.name }}</td>
          <td class="text-center">
            {{ food.macroNutrients.fat | number : "1.2-2" }} g
          </td>
          <td class="text-center">
            {{ food.macroNutrients.carbohydrate | number : "1.2-2" }} g
          </td>
          <td class="text-center">
            {{ food.macroNutrients.protein | number : "1.2-2" }} g
          </td>
          <td class="text-center">
            <button
              (click)="addFood(food.name)"
              type="button"
              class="btn btn-outline-success"
            >
              Add
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
